<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>회원가입 페이지</title>

<style>
	.input-group-text {
		width:20%;
    }
    
    .form-container {
      max-width: 50%;
      margin: 0 auto;
    }
    
    .btn {
      width: 100%;
    }
</style>

</head>

<body>
  <div class="container">
  	<div class="py-5 text-center">
	    <h2>회원가입</h2>
  	</div>
  	
  	<div class="form-container">
    	<form>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-id">Id</span>
			    <input type="text" class="form-control" placeholder="사용하실 ID를 입력하세요" aria-label="id" aria-describedby="basic-id">
		    </div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-password">Password</span>
			    <input type="password" class="form-control" placeholder="사용하실 PASSWORD를 입력하세요" aria-label="password" aria-describedby="basic-password">
		    </div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-name">Name</span>
			    <input type="text" class="form-control" placeholder="이름을 입력하세요" aria-label="name" aria-describedby="basic-name">
		    </div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-address">Address</span>
			    <input type="text" class="form-control" placeholder="주소를 입력하세요" aria-label="address" aria-describedby="basic-address">
		    </div>
		    <div class="input-group mb-3">
				<span class="input-group-text">Memo</span>
				<textarea class="form-control" placeholder="메모사항을 입력하세요" aria-label="memo"></textarea>
			</div>
			<div>
				<button type="submit" class="btn btn-success">Sign Up</button>
			</div>
	    </form>
    </div>
  </div>
  
  <!-- 부트스트랩 및 jQuery CDN 링크 -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
  
</body>

</html>